<nav class="bg-cvplt-primary w-screen grid grid-cols-3 items-center px-8 py-2">
  <span class="text-white font-bold font-nunito flex items-center gap-2">
    <span class="bg-cvplt-accent rounded-full w-2.5 h-2.5"></span> Ça va pas la tête
  </span>
  <ul class="list-none flex items-center gap-4 justify-self-center">
    <li class="text-white opacity-70 hover:opacity-100 hover:font-bold font-nunito text-xl">Accueil</li>
    <li class="text-white opacity-70 hover:opacity-100 hover:font-bold font-nunito text-xl">Articles</li>
    <li class="text-white opacity-70 hover:opacity-100 hover:font-bold font-nunito text-xl">Catalogue</li>
    <li class="text-white opacity-70 hover:opacity-100 hover:font-bold font-nunito text-xl">A Propos</li>
  </ul>
  <div class="flex items-center gap-4 justify-self-end">
    <button class="border border-white/20 rounded-md px-3 py-1 text-white font-nunito">Se connecter</button>
    <button class="bg-cvplt-accent text-white rounded-md font-nunito px-3 py-1">S'inscrire gratuitement</button>
  </div>
</nav>
